@media (min-width: 425px) {
  .container {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }

  /* Hero section */

  .hero__content {
    padding-top: 3.125rem;
  }

  .hero__title {
    font-size: 2.187rem;
  }

  /* Features */

  .features__image {
    margin: 0 auto;
  }

  .features__content {
    margin: 0 auto;
  }

  /* Testimonials */

  .slider {
    display: flex;
    align-items: center;
  }

  .slider__navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .slider__button {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.25rem;
    cursor: pointer;
  }

  .slider__left-arrow img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .slider__right-arrow {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  .hero__container {
    flex-direction: row;
  }

  .hero__image {
    background-position: top;
  }

  .hero__content {
    padding: 1.875rem 0;
  }

  .hero__button {
    margin-top: 1.25rem;
  }

  .stats__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3.125rem 0;
    margin: 2.343rem 0;
  }

  .stats__container .stats__item:not(:last-child) {
    border-bottom: none;
    border-right: 2px solid #eeeff2;
  }

  .stats__item {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  .features {
    display: flex;
    justify-content: space-between;
  }

  .features__image {
    min-width: 50%;
    background-size: contain;
  }

  .features__content {
    margin-left: 0.625rem;
    margin-right: 0;
    padding-top: 1.25rem;
  }

  .map__illustration {
    min-height: 34.375rem;
  }

  .sponsors__item {
    height: 3.437rem;
    width: 9.687rem;
    margin-bottom: 1.875rem;
    padding: 5px;
  }

  .slider__button {
    height: 3.125rem;
    width: 3.125rem;
  }

  .slider__left-arrow img {
    height: 3.125rem;
    width: 3.125rem;
  }

  .subscribe {
    flex-direction: row;
    justify-content: space-between;
    padding: 3.125rem 2.5rem;
  }

  .subscribe__heading,
  .subscribe__sub-heading {
    text-align: left;
  }

  .footer__link {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 4.375rem;
    padding-right: 4.375rem;
  }

  /* Nav */

  .nav {
    width: 100%;
    padding-bottom: 1.875rem;
    position: fixed;
    top: 0;
    left: 0;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .hamburger-menu {
    display: none;
  }

  /* Hero section */

  .hero__container {
    padding-top: 9.375rem;
    flex-direction: row;
  }

  .hero__content {
    min-width: 50%;
  }

  .hero__title {
    font-size: 3.125rem;
    line-height: 4.375rem;
  }

  /* Stats */

  .stats__container {
    flex-direction: row;
    margin-bottom: 1.875rem;
  }

  /* Features */

  .features {
    padding-top: 6.25rem;
  }

  .features__content {
    min-width: 40%;
  }
  /* Pricing */

  .pricing__container {
    padding-top: 5rem;
  }

  .pricing__item {
    min-width: 25%;
    width: 330px;
  }

  .pricing__plan-title,
  .pricing__price {
    margin-bottom: 1.875rem;
  }

  .subscribe__heading {
    max-width: 500px;
    font-size: 35px;
    line-height: 45px;
  }

  .sponsors {
    justify-content: space-between;
  }

  /* Footer */

  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__about {
    flex: 1;
  }

  .footer__link-container {
    flex: 1;
    padding-right: 0;
  }

  .footer__about .m-auto-x {
    margin-left: 0;
    margin-right: 0;
  }

  .footer__about .heading-sub {
    max-width: 340px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }

  .container {
    padding-left: 8.75rem;
    padding-right: 8.75rem;
  }
}
