.btn-primary {
  background-color: #F53838;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 10px;
  padding: 15px 20px;
  border: none;
}

.btn-secondary {
  border: 1px solid #F53855;
  box-sizing: border-box;
  border-radius: 50px;
  color: #F53855;
  padding: 10px 40px;
  font-weight: 500;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  width: fit-content;
  text-align: center;
  margin-bottom: 20px;
}

.sub-heading {
  text-align: center;
  color: #4F5665;
  margin: 0 auto;
  width: 555px;
}

.sm-text {
  font-size: 14px;
  color: #4F5665;
}

.md-text {
  font-weight: 500;
  font-size: 18px;
}

.rating-icon {
  width: 14px;
  height: 14px;
  background-image: url(../assets/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.avatar {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}