nav {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-bottom: 5.805rem;
  align-items: center;
}

.logo {
  display: flex;
}

.nav-items {
  display: flex;
}

.nav-item {
  padding: 0 0.625rem;
  margin: 0 0.625rem;
}

.menu {
  color: #4F5665;
}