.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.875rem;
  background-color: #fff;
  padding-bottom: 1.25rem;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  margin-right: 10px;
}

.logo__text {
  font-size: 1.25rem;
}

.menu {
  display: none;
}

.menu__item {
  padding: 0 0.625rem;
  margin: 0 0.625rem;
}

.menu__link:hover {
  color: #f53838;
  cursor: pointer;
}

.hamburger-menu img {
  height: 1.875rem;
}

.hamburger-menu:hover {
  cursor: pointer;
}
