nav {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  align-items: center;
  padding: 3.125rem 0 5.805rem 0;
}

.logo {
  display: flex;
}

.nav-items {
  display: flex;
}

.nav-item {
  padding: 0 0.625rem;
  margin: 0 0.625rem;
}

.nav-item:hover, .menu:hover {
  color: #F53838;
  cursor: pointer;
}

.menu {
  color: #4F5665;
}